# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tsdes_mock\Quiz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
